body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    margin: 290px ;
    padding: 10px;
    font-size: large;
    font-family: monospace;
    background-color: black;
    color: aliceblue;
}
.headline{
    display: flex;
    justify-content: center;
    
}
.bar{
    display: flex;
    flex-direction: row;
    padding: 10px;
    
}
button img{
    width:25px; 
}
.srch-bar{
    width: 500px;
    height:30px;
    background-color:rgba(240, 248, 255, 0.541);
    border-radius: 10px;
}
.srch-bar:hover{
    background-color: rgb(194, 190, 190);
}
.srch-bar::placeholder{
    color: aliceblue;
}
